@model EBulletinSendEmailsViewModel

@{
    ViewData["Title"] = "E-Bülten Posta Gönderim ";
    
}

<div class="row mb-4">
    <div class="col">
        <h3 class="display-5 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div> @*classların hatalarını değil de diğer hataları göster*@

        <form method="post">

            <div class="mb-3">
                <label asp-for="Emails" class="form-label fw-bold "></label>
                <select asp-for="Emails" class="form-control" asp-items="@Model.EmailAddresses" multiple></select>
                <small>Çoklu seçim için klavyeden CTRL tuşuna basarak seçim yapabilirsiniz!</small>
            </div>

            <span asp-validation-for="Subject" class="text-danger small"></span>
            <div class="mb-3">
                <label asp-for="Subject" class="form-label fw-bold "></label>
                <input asp-for="Subject" class="form-control">
            </div>

            <span asp-validation-for="Text" class="text-danger small"></span>
            <div class="mb-3">
                <label asp-for="Text" class="form-label fw-bold"></label>
                <textarea asp-for="Text" rows="5" class="form-control"></textarea>
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-sm "><i class="fa fa-paper-plane me-2"></i>Gönder</button>
                <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left me-2"></i>Listeye Dön!</a>
            </div>

        </form>
    </div>
</div>